.modal-overlay {
    position: fixed;
    top: 0; left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }

  .modal {
    background: #1c1c1c;
    color: white;
    border-radius: 12px;
    width: 90%;
    max-width: 600px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  }

  .modal h2 {
    margin-top: 0;
    font-size: 1.5rem;
  }

  form label {
    display: block;
    margin-bottom: 20px;
    font-weight: 500;
    font-family: 'Segoe UI', sans-serif;
  }

  form textarea {
    width: 100%;
    padding: 10px 14px;
    background-color: #2a2a2a;
    border: 2px solid transparent;
    border-radius: 12px;
    color: white;
    font-size: 1rem;
    transition: border 0.3s;
    margin-top: 10px;
    font-family: 'Segoe UI', sans-serif;
    resize: vertical;
    min-height: 120px;
    max-height: 300px;
    overflow-y: auto;
  }

  form input {
    width: 100%;
    padding: 10px 14px;
    background-color: #2a2a2a;
    border: 2px solid transparent;
    border-radius: 12px;
    color: white;
    font-size: 1rem;
    transition: border 0.3s;
    margin-top: 10px;
    font-family: 'Segoe UI', sans-serif;
  }

  form select {
    width: 108%;
    padding: 10px 14px 12px 12px;
    background-color: #2a2a2a;
    border: 2px solid transparent;
    border-radius: 12px;
    color: white;
    font-size: 1rem;
    transition: border 0.3s;
    margin-top: 10px;
  }

  form label.active input,
  form label.active textarea,
  form label.active select {
    border-color: #18d2c4;
    box-shadow: 0 0 5px #18d2c4;
  }

  .modal-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
  }

  .modal-buttons button {
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    background-color: var(--all);
    color: white;
  }

  .modal-buttons .cancel {
    background-color: #555;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    color: white;
  }
